
header {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  text-align: center;
  background-color: #000066;
  color: #fff;
  padding-bottom: 10px;
}


p {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

#product-display1 {
  height: 350px;
  margin-left: 200px;
}

#product-display2 {
  display: inline;
  height: 350px;
}

#product-display3 {
  display: inline;
  height: 350px;
}
